<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
			function showMessage(){
				alert("Please Wait");
			}
	</script>
</head>
<body>
<h1>Hello</h1>
<!--<input type="button" onclick="window.open('/result','_self')"><h2>Test Your Grades Here!</h2></input>-->

<form enctype="multipart/form-data" method="post">
    <input type="file" accept=".mp3,.wav" name="myfile">
    <input type="submit" value="Confirm" onclick="showMessage()">

</form>
</body>
</html>